<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Sweta Patel</h2>
            <h4>swetap1012@gmail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Sweta Patel">
    </div>

    <mat-divider></mat-divider>
    
    <h2 matSubheader>Pages</h2>
    
    <mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</mat-list-item>
    <mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</mat-list-item>
    <mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</mat-list-item>
    
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Tools</h2>

    <mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </mat-list-item>
    <mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </mat-list-item>
    
</mat-nav-list>


